{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="pt-5 container">
    <table class="table">
        <thead>
            <tr class="table-white">
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일시</th>
            </tr>
        </thead>
        <tbody>
            {% if post_list %}
            {% for post in post_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{% url 'main:detail' post.id %}">{{ post.title }}</a>
                </td>
                <td>{{ post.user }}</td>
                <td>{{ post.created_at }}</td>
            </tr>
            {% endfor%}
            {% else %}
            <tr>
                <td colspan="4">게시글이 없습니다.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <ul class="pagination justify-content-center">
        {% if post_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ post_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        {% for page_number in post_list.paginator.page_range %}
        {% if page_number >= post_list.number|add:-5 and page_number <= post_list.number|add:5 %}
        {% if page_number == post_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        
        {% if post_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ post_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <button type="button" class="btn btn-primary" onclick="location.href='../write'" style="float: right;">글쓰기</button>
<div>

{% endblock %}