{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">
  <h3>내 게시물 목록</h3>
    {% for item in post_list %}
    {% if forloop.counter0|divisibleby:3%}
        <div class="img_list">
    {% endif%}
      <a href="../detail/{{ item.id }}/" class="post">
      {% if item.image %}
        <img src="{{ item.image.url }}" class="thumbnail" alt="">
      {% else %}
        <img src="/static/no_image.png" class="thumbnail" alt="">
      {% endif %}
        <p>{{ item.title }}</p>
      <p>{{ item.created_at }}<p>
    </a>
    {% if forloop.counter|divisibleby:3 or forloop.last %}
      </div>
    {% endif%}
    {% endfor %}
</div>
{% endblock %}
