textarea {
    width:100%;
}

input[type=submit] {
    margin-top:10px;
}

.img-list {
    width: 100%;
    height: 300px;
}

.img-card{
    width: 30%;
    height: 300px;
    float: left;
    box-shadow: 5px 5px 5px gray;
    margin-left: 40px;
    margin-top: 50px;
}

.img-product {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    text-align: center;
    display: block;
    color: #545454;
    text-decoration: none;
    
}

.img-product img{
    width: 90%;
    height: 70%;
}

.board-title {
    text-decoration: none;
    color: #000000;
    font-weight:700;
    margin-right: 5px;
}

.comment-count {
    margin-left: 0px;
    color: rgb(100, 146, 77);
    font-size: small;
}

.search-box{
    text-align: center;
}

.search-box .form-control {
    width:70%;
    display: inline-block;
}

.image-box {
    height: auto;
}

.image-box img {
    width: 100%;
    height: 100%;
}